@page
@model Apex.Events.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="center-container">
    <h1><b>Event - Details</b></h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventName)
            <br />
            @Html.DisplayNameFor(e => e.Event.EventType)
            <br />
            @Html.DisplayNameFor(d => d.Event.EventDate)
            <br />
            @Html.DisplayNameFor(vn => vn.VenueName)
            <br />
            @Html.DisplayNameFor(v => v.Event.VenueCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventName)
            <br />
            @Html.DisplayFor(et => et.Event.EventType)
            <br />
            @Html.DisplayFor(d => d.Event.EventDate)
            <br />
            @* Validates the venue name for the event *@
            @if (!string.IsNullOrWhiteSpace(Model.VenueName))
            {
                @Html.DisplayFor(vn => vn.VenueName)
            }
            <br />
            @Html.DisplayFor(v => v.Event.VenueCode)
        </dd>
    </dl>

    @* Displays total booked guest count *@
    <h4><b>@($"Booked Guests: (Total Count of Guests: {Model.Event.GuestBookings!.Count})")</b></h4>
    @if (Model.Event.GuestBookings is { Count: > 0 })
    {
        @* This section of HTML is only rendered if the number of guest bookings for the event is more than 0. *@
        <ul>
            @foreach(var booking in Model.Event.GuestBookings)
            {
                var guest = booking.Guest;
                <li>
                    @if (guest is not null)
                    {
                        @($"GuestId: {guest.GuestId}")
                        <br />
                        @($"GuestName: {guest.FirstName} {guest.LastName}".Trim())
                        <br />
                        @($"Email: {guest.Email}")
                    }
                    else
                    {
                        @:"Unknown Guest"
                    }
                </li>
            }       
        </ul>
    }
    else
    {
        <p>No guests have booked for this event yet.</p>
    }

    <h4><b>Food Bookings</b></h4>
    @if (Model.FoodBookings is { Count: > 0 })
    {
        @* This section of HTML is only rendered if the number of guest bookings for the event is more than 0. *@
        <ul>
            @foreach(var fb in Model.FoodBookings)
            {
                <li>
					FoodBookingId: @fb.FoodBookingId
                    <br />
                    ClientRef: @fb.ClientReferenceId
                    <br />
                    Menu: @fb.MenuId
                    <br />
                    Guests: @fb.NumberOfGuests
                </li>
            }
        </ul>
    }
    else
    {
        <p>No food bookings have been made for this event.</p>
        <a class="btn btn-primary" asp-page="./AddFoodBooking" asp-route-id="@Model.Event.EventId">Add Food Booking</a>
    }

    <div class="col-md-4">
        <br />
        <form method="post">
            <input type="hidden" asp-for="EventId" />
            <h5><b><label asp-for="SelectedVenueCode">Change Venue</label></b></h5>
            @* Dropdown for venue reservation *@
            <select asp-for="SelectedVenueCode" class="form-control" asp-items="Model.Venues">
                <option value="">-- Reserve venue --</option>
            </select>
            <br />
            <div class="form-group">
                <input type="submit" value="Reserve Venue" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Event.EventId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
