@page
@model Apex.Events.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="center-container">
    <h1><b>Event List</b></h1>
    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(et => et.Event[0].EventType)
                </th>
                <th>
                    @Html.DisplayNameFor(d => d.Event[0].EventDate)
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Event)
        {
            var hasFoodBooking = Model.EventFoodBookingCheck.TryGetValue(item.EventId, out var hasFood) && hasFood;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @* Checks if each event has been cancelled *@
                    @if (item.IsCancelled)
                    {
                         <span class="badge bg-danger" title="This event has been cancelled">
                            ❌ Cancelled
                         </span>
                    }
                    @* Checks if each event has a first aider assigned to it. *@
                    else if (!Model.EventFirstAiderCheck.TryGetValue(item.EventId, out var hasFirstAider) || !hasFirstAider)
                    {
                        <span class="badge bg-warning text-dark" title="No first aider assigned to this event">
                            ⚠️ No First Aider
                        </span>
                    }
                </td>
                <td>
                    @if (!item.IsCancelled)
                    {
                        <a asp-page="./BookGuest" asp-route-id="@item.EventId">Book Guest</a>
                        @:&nbsp;|&nbsp;
                        if (!hasFoodBooking)
                        {
                            <a asp-page="./AddFoodBooking" asp-route-id="@item.EventId">Book Food</a>
                            @:&nbsp;|&nbsp;
                        }
                        <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a>
                        @:&nbsp;|&nbsp;
                        <a asp-page="./Details" asp-route-id="@item.EventId">Details</a>
                        @:&nbsp;|&nbsp;
                        <a asp-page="./CancelEvent" asp-route-id="@item.EventId">Cancel</a>
                        @:&nbsp;|&nbsp;
                    }
                    <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
